name: Django CI

on:
#   push:
#     branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip 
        pip install pipenv
        cd givitsite
        ls -l
        pipenv sync
#        apt install libpq-dev
        
    - name: DB creation
      run: |
        sudo apt install postgresql postgresql-contrib postgresql-common postgresql-client 
        sudo -u postgres createdb givit 
        sudo -u postgres psql -c "ALTER ROLE postgres WITH PASSWORD 'givit';" 
        
#     - name: Run Tests
#       run: |
#         python manage.py test
