name: Django CI

on:
#   push:
#     branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 20
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip 
        pip install pipenv
        sudo apt install libpq-dev
        cd givitsite
        pipenv sync
       
        
    - name: DB creation
      run: |
        sudo apt install postgresql postgresql-contrib postgresql-common postgresql-client
        sudo systemctl start postgresql
        sudo -u postgres createdb givit 
        sudo -u postgres psql -c "ALTER ROLE postgres WITH PASSWORD 'givit';" 
        
    - name: migrate
      run: |
        cd givitsite
        pipenv run python3 manage.py migrate
